<h1> About Us </h1>

<p>
Want to have your outfits picked for you daily? 
With an initial set up that takes about 10 minutes to input your outfit items, you can have an outfit created for you in seconds.
</p>

<p>
How It Works:
</p>
<ol>
    <li>Sign Up with Your Email and Password </li>
    <li>Go to <strong>My Closet</strong> and begin adding your items! Select a name, what type of clothing item is, and what weather you would wear it in.</li>
    <li>When you are ready to get your first outfit, click <strong>Generate Outfit</strong>.</li>
</ol>
<p>And that's it!</p>


